.student_layout {
    .topbar {
        background-color: #141414;

        .btn-gradient {
            background: linear-gradient(90deg, #9333ea, #f97316);
            border: none;
            color: #fff;
        }

        input {
            color: #fff;
        }
    }

    // Add helper class for main content margin
    @media (min-width: 768px) and (max-width: 991.98px) {
        .main-content {
            margin-left: 25% !important;
            width: 75% !important;
        }
    }

    @media (min-width: 992px) {
        .main-content {
            margin-left: 16.666667% !important;
            width: 83.333333% !important;
        }
    }
}