@use '../../assets/styles/variables' as *;
@use '../../assets/styles/mixins' as *;

.registerPage {
    background-color: #0b0b0f;
    color: $white;
    position: relative;
}

.registerLeft {
    background-image: radial-gradient(circle at left, rgb(70, 40, 94) 5%, transparent 30%),
        radial-gradient(circle at right, rgb(59, 24, 17) 5%, transparent 30%);
    background-size: cover;
    background-position: center;
}

.registerRight {
    background-color: $white;
    color: $black;
}

.formBox {
    width: 100%;
    max-width: 550px;
    background-color: $white;
}

.btnGradient {
    @include gradient-primary;
    border: none;
    color: $white;
    transition: $transition-base;

    &:hover {
        opacity: 0.9;
    }
}

.showHideBtn {
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.formControl {
    border-radius: $border-radius-lg;
    padding: $spacing-3 $spacing-4;
}

.roleSelection {
    .roleCard {
        background-color: rgba(255, 255, 255, 0.1);
        // color: $white;
        border: 1px solid rgba(0, 0, 0, 0.3);
        transition: $transition-base;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        &.active {
            @include gradient-primary;
            color: $white;
            border: none;
        }
    }
}

@media (max-width: 767.98px) {
    .registerRight {
        background-color: $white;
        color: $black;
    }

    .formBox {
        background-color: rgba(255, 255, 255, 0.05);
        color: $black;
        border: 1px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8px);
    }

    .formControl {
        background-color: rgba(255, 255, 255, 0.1);
        color: $white;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}